include ./common.pug

html 
    head
        +common_head
        title “#{name}”
    body
        +wip
        +header
        .container.align-center.justify-center
            .fix-sized.w100
                h1 #{name}
                each t in tags
                    .hash-tag.inline-info #{t}
                p
                    span.badge 发布
                    span.lnline-info.at-date #{createdAt.toLocaleString()}
                p
                    span.badge 更新
                    span.lnline-info.at-date #{lastUpdated.toLocaleString()}
                | !{renderedContent}
