include ./common.pug

html 
    head
        +common_head
        title “#{name}”
    body
        +wip
        +header
        .container.align-center.justify-center
            .fix-sized.w100
                h1 #{name}
                each t in tags
                    .tag #{t}
                p
                    span.badge 发布于
                    span.info.mr1 #{createdAt}
                p
                    span.badge 更新于
                    span.info.mr1 #{lastUpdated}
                | !{renderedContent}
