include ./common.pug

mixin article(A)
    .article(onclick=`window.location='/articles/${A.name}.html'`)
        h1.index-title #{A.name}
        span.at-date.inline-info #{A.createdAt.toLocaleDateString()}
        span.tags
            each tag in A.tags
                .hash-tag.inline-info #{tag}
        if A.introText
            .intro-text #{A.introText}


html
    head
        +common_head
        title “南方之诗”
    body
        +wip
        +header
        .container.align-center.justify-center
            .fix-sized.container.horizontal.w100
                each article in articles
                    +article(article)
